 body {
     font-family: Arial;
     text-align: center;
     padding: 50px;
     background-size: cover;
     color: white;
     background-color: #667066;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 10vh;
 }

 input[type="text"] {
     width: 300px;
     padding: 10px;
     font-size: 16px;
     border-radius: 30px;
 }

 button {
     padding: 10px 20px;
     font-size: 16px;
     background: #4CAF50;
     color: white;
     border: none;
     border-radius: 30px;
 }

 audio {
     margin-top: 20px;
     width: 100%;
     max-width: 500px;
 }

 .overlay {
     background: rgba(0, 0, 0, 0.6);
     margin: center;
     padding: 30px;
     border-radius: 10px;
     display: inline-block;
 }

 header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;

}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}
